.calendar_today {
	display: inline-block; 
	margin:5px 0 0 5px;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

.calendar_today__edit {
	margin-left:5px;
}

.calendar_today__delete {
	position: absolute; 
	right: 30px;
}

.parent_calendar_today_timeShift {
	overflow: hidden;
	display: inline-block;
}

#new_calendar_today_timeShift {
	width: 25px;
	height: 30px;
}

#new_calendar_today {
	float: left;
	width:125px;
	margin-right:10px;
}