.feed {
    border: 1px solid #ddd;
    height: 35px;
}

.feed__url {
    display: inline-block;
    margin: 5px 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
}

.feed__delete {
    position: absolute;
    right: 30px;
}
